.cool{
    position: relative;
    margin: 0;
    width: 100%;
    padding: 5rem 2rem 5rem;
    font-size: 1.5em;
}

/* hello there */

.date{
    background: linear-gradient(to right, #ffbb00, #ffaa00, #ff9900, #ff8800, #ff7700, #ff6600, #ff5500, #ff4400);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}